#footer
    #footer-inner
        | Puyo Puyo VS created by Hernan
        br
        | Site Design by NickW
        br
        br
        div
            a(href='https://puyonexus.com') Puyo Nexus
        #footer-donate
            p Puyo Puyo VS is a free game for everyone to enjoy.<br/>Please consider making a donation to support its development.
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='EFBT94LMNWBZU')
                input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                img(alt='', src='https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif', width='1', height='1')
