extends _layout.pug

block prepend menu
    - var currentPage = '/about.pug'

block prepend title
    = "About - "

block content
    h1 About
    p.
        Puyo Puyo VS is a fan game that allows you to connect to online lobbies and play Puyo Puyo matches with up to 10 players at the same time.
        This game features the ability to customize assets used ingame, modes such as Tsu, which is the standard Puyo ruleset, as well as Fever, Non-stop Fever, and more, and
        chatrooms to organize matches.
    p
        br
    p.
        Originally developed by HernanZH. Created as a way to easily join together Puyo players.
    p
