extends _layout.pug

block prepend menu
    - var currentPage = '/about.pug'

block prepend title
    = "About - "

block content
    h1 About
    p.
        Puyo Puyo VS is a client that can connect to internet lobbies in order to play Puyo Puyo Matches against up to 10 people at the same time.
        Features the ability to customize assets used ingame, modes such as Tsu, which is the standard Puyo ruleset, as well as Fever, Non-stop Fever, and more, and
        chatrooms to organize matches.
    p
        br
    p.
        Original and thankfully outdated description below, Puyo has multiple official Western releases now, but Puyo Puyo VS remains as a free,
        low-end option with complete match control.
    p
        br
    p.
        Hello, I'm the creator of Puyo Puyo VS (PPVS). I created PPVS because I wanted people to play Puyo Puyo the way it's intended to be: together. 
        Somehow Sega screwed it up completely. After Puyo Pop Fever, no version of Puyo Puyo has seen a release in the west. (Also, check out our 
        <a href="https://puyonexus.com/forum/viewforum.php?f=41">translation patches</a>). Not even the PC version of Puyo Pop Fever made it outside 
        Japan, the only version of the game that has an online mode. With PPVS I hope to create an easy way for everyone to enjoy a game of Puyo Puyo 
        without the hassle of importing games/not understanding Japanese/illegal methods to obtain the games from Sega.
    p
        br
        | See you around at Puyo Puyo VS!
        br
        em ~Hernan
