extends _layout.pug

block prepend menu
    - var currentPage = '/animation.pug'

block prepend title
    = "Animation - "

block content
    p.
        Many fan created animations have been created to display in the same way the official games do it! The animation editor is available here: 
        <a href="https://gamebanana.com/tools/6426"></a>. Load in an "animation.xml" file, select sprites to use, path out animations, and preview them!
        See the help file linked on the GameBanana page for more details!
    p
