extends _layout.pug

block prepend menu
    - var currentPage = '/animation.pug'

block prepend title
    = "Animation - "

block content
    h1 Animation
    p.
        Puyo Puyo VS has a character animation engine supporting the creation of mods that display cut-in animations similar to official games.
    p.
        A copy of the animation editor is available here:
        <a href="https://gamebanana.com/tools/6426">GameBanana Link</a>.
        Load in an "animation.xml" file, select sprites to use, path out animations, and preview them!
        See the help file linked on the GameBanana page for more details.
    p
