extends _layout.pug

block content
    img#logo-big(src='images/logo_big.png', alt='Puyo Puyo VS')
    h1 Puyo Puyo VS
    p Puyo Puyo VS is a clone/fangame of the Japanese puzzle game Puyo Puyo and is mainly focused on online multiplayer gameplay. The game features:
        ul
            li Easily create matches for 2-10 players.
            li Asynchronous match joining; no need to stop and start matches for people to join.
            li Fever mode, classic Tsu rules and more.
            li Automatic replay saving.
            li Spectator mode.
            li Adjustable rule settings.
            li Customizable graphics, sounds and animation.
    p If you want to play Puyo Puyo with people without all the hassle, this is the game you need to play! Head onto the <a href='/download'>download</a> page to give Puyo Puyo VS a try.
    p
        em Puyo Puyo VS was originally developed by Hernan as a way to bring together Puyo Puyo players.
    h1 What is Puyo Puyo?
    p Puyo Puyo is a well known falling block puzzle game where you connect 4 pieces of the same color to make them disappear. You may know Puyo Puyo as Robotnik's Mean Bean Machine, Kirby's Avalanche, Puyo Pop or Puyo Pop Fever. Originally developed by Compile and now owned by Sega, the game is immensely popular in Japan. To learn more about Puyo Puyo head over to this <a href='https://puyonexus.com/intro/'>page</a>.
