extends _layout.pug

block prepend menu
    - var currentPage = '/links.pug'

block prepend title
    = "Links - "

block content
    h1 Links
    p Check out these great websites!
    ul
        <li><a href="https://twitter.com/puyo_vs">Puyo VS Twitter</a>
        <li><a href="https://puyonexus.com">Puyo Nexus</a> The hub website for the English speaking Puyo community!</li>
        <li><a href="https://discord.gg/Br4KqbR">English Puyo Puyo Community</a> A Discord server for all Puyo fans!</li>
        <li><a href="https://w.atwiki.jp/puyovs2bt/">Puyo Puyo VS Japanese wiki</a> Made by the Japanese fans of PPVS!</li>
        <li><a href="https://bayoen.fr/">Bayoen.fr</a> French Puyo community!</li>
        <li><a href="https://cafe.naver.com/puyomania">Puyo Mania</a> Korean Puyo community!</li>
        <li><a href="http://puyo.sega.jp"> http://puyo.sega.jp</a> The official Puyo website!</li>
        <li><a href="https://harddrop.com/">Hard Drop</a> Tetris guys!
