extends _layout.pug

block prepend menu
    - var currentPage = '/links.pug'

block prepend title
    = "Links - "

block content
    h1 Links
    p Check out these great websites!
    ul
        <li><a href="https://puyonexus.com">Puyo Nexus</a> The best and only English speaking Puyo Puyo community!</li>
        <li><a href="https://w.atwiki.jp/puyovs2bt/">Puyo Puyo VS Japanese wiki</a> Made by the Japanese fans of PPVS!</li>
        <li><a href="https://cafe.naver.com/puyomania">Puyo Mania</a> Korean Puyo Puyo community!</li>
        <li><a href="http://puyo.sega.jp"> http://puyo.sega.jp</a> The official Puyo Puyo website!</li>
        <li><a href="https://harddrop.com/">Hard Drop</a> Tetris guys!
